@mixin overlay() {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


@mixin para($font-size, $color, $line-height: 1.2rem, $font-style: normal, $font-weight: normal, $background: white, $font-family: Arial ){
	font-size: $font-size;
	color: $color;
	line-height: $line-height;
	font-style: $font-style;
	font-weight: $font-weight;
	background: $background;
	font-family: $font-family;
}