.flex {
  display: flex; }
  .flex__direction--row {
    flex-direction: row; }
    .flex__direction--row-reverse {
      flex-direction: row-reverse; }
  .flex__direction-column {
    flex-direction: column; }
    .flex__direction-column-reverse {
      flex-direction: column-reverse; }
  .flex__justify-content--flex-start {
    justify-content: flex-start; }
  .flex__justify-content--flex-end {
    justify-content: flex-end; }
  .flex__justify-content--center {
    justify-content: center; }
  .flex__justify-content--space-between {
    justify-content: space-between; }
  .flex__justify-content--space-around {
    justify-content: space-around; }
  .flex__justify-content--space-evenly {
    justify-content: space-evenly; }
  .flex.para {
    color: red; }
